* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* variables */
:root {
    --font-roboto: 'Roboto Mono', monospace;
    --dark-blue: #1F1148;
    --light-blue: #2E45CC;
}

body {
    font-family: var(--font-roboto);

}

a {
    text-decoration: none !important;
}

li {
    list-style-type: none;
}

/* navbar styles */
.un-nav {
    background-color: #D9DFFC !important;
    color: var(--dark-blue);

}

.logo-text {
    font-weight: 500;
}

.un-link {
    border: 1px solid #FD7702;
    border-radius: 5px;
}

.update-profile__img {
    width: 20px;
    /* height: 16px; */
}

/* header styles */
.header-img {
    width: 664px;
    height: 484px;
}

.header-community {
    color: var(--light-blue);
}

.header-cta {
    background: var(--light-blue);
    max-width: 270px
}


/* search code styles section  */
.search-code__box {
    width: 500px;
    border: 1px solid #888F9F;
    border-radius: 5px;
}

.search-code>p {
    color: var(--dark-blue);
}

.search-code__input {
    outline: none;
    border: none;
}

/* search code items styles */
.search-code__items {
    margin: 0 auto !important;
}

.top-content h5 {
    font-size: 17px;
    color: var(--dark-blue);
}

.search-code__card {
    border: 1px solid #888F9F;
  
}



.downlod-icon {
    width: 12px;
}

.top-content>p {
    color: #888F9F;
    font-size: 16px;
}

.bottom-content .amount {
    color: var(--dark-blue);
}

/* footer */
.footer-section {
    font-size: 12px;
}

.top-footer {
    background-color: #D9DFFC;
}

.bottom-footer {
    background-color: #C1CAF6;
    ;
    width: 100%;
    height: 8vh;
}


/* media queries */
@media (min-width: 992px) {
    .search-code__items {
        padding-left: 4rem;
    }

}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .community {
        text-align: center;
        padding-top: 2rem;
    }

    .header-img,
    .community p,
    .header-cta {
        margin: auto;
    }

    .top-footer>div,
    .footer-section {
        flex-direction: column;
    }

    .footer-links ul {
        display: flex;
    }

    .footer-details {
        text-align: center;
    }

  



}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .community {
        text-align: center;
        padding-top: 2rem;
    }

    .header-img,
    .community p,
    .header-cta {
        margin: auto;
    }


}

@media (min-width: 540px) {
    .community {
        text-align: center;
        padding-top: 2rem;
    }

    .header-img,
    .community p,
    .header-cta {
        margin: auto;
    }

  


}

@media (min-width: 390px) {
    .community {
        text-align: center;
        padding-top: 2rem;
    }

   

    .header-img,
    .community p,
    .header-cta {
        margin: auto;
    }

  
    

}



@media (max-width: 100px) {
    .community {
        text-align: center;
        padding-top: 2rem;
    }

    .search-code__box {
        width: 90% !important;
    }

    .header-img,
    .community p,
    .header-cta {
        margin: auto;
    }

    
  
    .search-code__card{
        margin: 0;
    }

    .search-code__box {
        width: 500px;
        border: 1px solid black !important;
        border-radius: 5px;
    }

}
