{% extends 'base.html'  %} 
{% block title %} Auth Wiki - Sign Up {% endblock %}
{% load widget_tweaks %}

{% load static %}

{% block content %} 

<!-- <h2 class='text-center'> Update Profile </h2> -->


<div class="container px-4 py-4 mt-4"   >
    <!-- Account page navigation-->

    <form action='{% url "account:createprofile" %}' method='POST'>
        {% csrf_token %}
        <a href="{% url 'account:profile' %}" class="text-end d-block me-3 mb-3">Profile</a>

        <div class='row'>
            <div class='col-12 col-md-2'>
              {% if user.profile.image == 'male.png' %}
              <div> <img src=' {% static "img/"|add:"male.png" %} ' alt='avatar' class='ms-3 border' width='100px' height='100px'> </div>
              
              {% else %}
              <div> <img src=' {% static "img/"|add:"female.jpg" %} ' alt='avatar' class='ms-3 border' width='100px' height='100px'> </div>

              {% endif %}
                <!-- <img scr='{% static "img/head.png" %}' class='rounded-end d-block mx-auto' width='100px' height='100px'> -->
            </div>
            <div class='col-12 col-md-10'>

                     <!-- UserName Part -->
                    <div class="mb-4">
                        <label for='select-field d-block'> Change User Name</label>
                        <!-- <img src='{% static "img/head2.jpg" %}' > -->
                        
                        <input class="form-control w-80" type="text" name="user_name" id="" value="{{user.username}}">

                    </div>

                    <label for='select-field d-block'> Change display picture </label>
                    <!-- <img src='{% static "img/head2.jpg" %}' > -->
                    
                    <select class="form-select mt-1" name="image_selected" id='select-field' aria-label="Default select example">

                        <option selected>Choose Avatar</option>
                        <option value="male.png"> Male </option>
                        <option value="female.jpg"> Female </option>
                        <!-- <option value="3">Three</option> -->

                    </select>

                <button class='btn btn-success mt-4 mx-auto'> Change </button>


            
            
            </div>

        </div>

   


    </form>


{% endblock content %}