{% extends 'base.html' %}
{% block title %} Auth Wiki - Sign Up {% endblock %}


{% block content %}

  <div class="col-12 col-lg-6">
    <img class="main-img" src="https://wallpapercave.com/dwp1x/wp26286.jpg" alt="">
  </div>

  <div class="col-12 col-lg-6 main-form" style="padding: 100px 50px 100px 20px;">
    <div class="border rounded p-4 w-80 d-flex justify-content-center shadow bg-white">

	<!--Password reset sent-->
	<div class="container p-5">
  	<h2 class="font-weight-bold mt-3">Password reset sent</h2>
		<hr>
		<p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
  </div>
</div>

{% endblock %}