{% extends 'base.html' %}
{% block title %} Auth Wiki - Sign Up {% endblock %}


{% block content %}
{% load crispy_forms_tags %}

  <div class="col-12 col-lg-6">
    <img class="main-img" src="https://wallpapercave.com/dwp1x/wp26286.jpg" alt="">
  </div>

  <div class="col-12 col-lg-6 main-form" style="padding: 100px 50px 100px 20px;">
    <div class="border rounded p-4 w-80 d-flex justify-content-center shadow bg-white">
  
  <!--Password Reset Confirm-->
    <div class="container p-5">
	    <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
		<hr>
        <p>Please enter your new password.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}                    
            <button class="btn btn-primary" type="submit">Reset password</button>
        </form>
    </div>
</div>

{% endblock %}