/* ROOT STYLES */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variables */
:root {
  --font-roboto: 'Roboto Mono', monospace;
  --dark-blue: #1f1148;
  --light-blue: #2e45cc;
}

body {
  font-family: var(--font-roboto) !important;
}

a {
  text-decoration: none !important;
}

/* li {
  list-style-type: none;
} */


/* HELPER STYLES */
.w-60 {
  width: 60%;
}
.w-80 {
  width: 80%;
}
.line {
  height: 1px;
  width: 40%;
  background-color: black;
}
.btn {
  color: white !important;
}
/* ONBOARDING STYLES */

.contain{
  width: 85%;
  height: fit-content;
  margin: auto;
  /* background-color: rgba(0, 0, 0, 0.1); */
}

.main-form {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.main-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.guidelines li {
  margin-bottom: 10px;
}
/* .grid-img, .grid-form {
  grid-row: 1;
  grid-column: 1;
} */

/* INDEX STYLES */

/* navbar styles */
.un-nav {
  background-color: #d9dffc !important;
  color: var(--dark-blue);
}

.logo-text {
  font-weight: 500;
}

.un-link {
  border: 1px solid #fd7702;
  border-radius: 5px;
}

.update-profile__img {
  width: 20px;
  /* height: 16px; */
}

/* header styles */
.header-img {
  width: 664px;
  height: 484px;
}

.header-community {
  color: var(--light-blue);
}

.header-cta {
  background: var(--light-blue);
  max-width: 270px;
}

/* search code styles section  */
.search-code__box {
  width: 500px;
  border: 1px solid #888f9f;
  border-radius: 5px;
}

.search-code > p {
  color: var(--dark-blue);
}

.search-code__input {
  outline: none;
  border: none;
}

/* search code items styles */
.search-code__items {
  margin: 0 auto !important;
}

.top-content h5 {
  font-size: 17px;
  color: var(--dark-blue);
}

.search-code__card {
  border: 1px solid #888f9f;
}

.downlod-icon {
  width: 12px;
}

.top-content > p {
  color: #888f9f;
  font-size: 16px;
}

.bottom-content .amount {
  color: var(--dark-blue);
}

/* footer */
.footer-section {
  font-size: 12px;
}

.top-footer {
  background-color: #d9dffc;
}

.bottom-footer {
  background-color: #c1caf6;
  width: 100%;
  height: 8vh;
}

/* media queries */
@media (min-width: 992px) {
  .search-code__items {
    padding-left: 4rem;
  }
}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .community {
    text-align: center;
    padding-top: 2rem;
  }

  .header-img,
  .community p,
  .header-cta {
    margin: auto;
  }

  .top-footer > div,
  .footer-section {
    flex-direction: column;
  }

  .footer-links ul {
    display: flex;
  }

  .footer-details {
    text-align: center;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .community {
    text-align: center;
    padding-top: 2rem;
  }

  .header-img,
  .community p,
  .header-cta {
    margin: auto;
  }
}

@media (min-width: 540px) {
  .community {
    text-align: center;
    padding-top: 2rem;
  }

  .header-img,
  .community p,
  .header-cta {
    margin: auto;
  }
}

@media (min-width: 390px) {
  .community {
    text-align: center;
    padding-top: 2rem;
  }

  .header-img,
  .community p,
  .header-cta {
    margin: auto;
  }
}

@media (max-width: 100px) {
  .community {
    text-align: center;
    padding-top: 2rem;
  }

  .search-code__box {
    width: 90% !important;
  }

  .header-img,
  .community p,
  .header-cta {
    margin: auto;
  }

  .search-code__card {
    margin: 0;
  }

  .search-code__box {
    width: 500px;
    border: 1px solid black !important;
    border-radius: 5px;
  }
}
