{% extends 'base.html'  %} 
{% block title %} Auth Wiki - Edit Profile {% endblock %}
<!--{% load widget_tweaks %}-->

{% block content %} 

<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <nav class="nav nav-borders">
        <a class="nav-link active ms-0" href="{% url 'account:profile'%}">Profile</a>
    </nav>
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">

                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" >
                        {% csrf_token %}
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="first_name">First name</label>
                                <input class="form-control"  name="first_name" id="first_name" type="text" placeholder="Enter your first name" value="">
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="last_name">Last name</label>
                                <input class="form-control" name="last_name" id="last_name" type="text" placeholder="Enter your last name" value="">
                            </div>
                        </div>
                        <!-- Form Group (username)-->
                        <div class="mb-3">
                            <label for="">Upload Profile Image</label>
                            <input class="py-2" placeholder="upload a clear profile image" type="file" accept="image/*"  name="upload" id="upload">
                        </div>


                        <!-- Form Row        -
                        <div class="row gx-3 mb-3">
                            <-- Form Group (organization name)-->

                            <div class="col-md-9">
                                <label class="small mb-1" for="gender">Please Select Your Gender</label>
                                <select class="" name="gender" id="gender" placeholder="Select Gender">
                                    <option  value="male">Male</option>
                                    <option  value="female">Female</option>
                                    <option  value="others">Others</option>
                                    <option  value="choose not to say">Choose not to say</option>
                                    <!--<option value="select gender" selected>Select Gender</option>-->
                                </select>
                                <!--<input class=""  type="text"  value= "first_name"  name="first_name" id="first_name">-->
                            </div>
                            {% comment %} <div class="col-md-6">
                                <label class="small mb-1" for="inputOrgName">Organization name</label>
                                <input class="form-control" id="inputOrgName" type="text" placeholder="Enter your organization name" value="Start Bootstrap">
                            </div> {% endcomment %}
                            <!-- Form Group (location)-->
                            {% comment %} <div class="col-md-6">
                                <label class="small mb-1" for="inputLocation">Location</label>
                                <input class="form-control" id="inputLocation" type="text" placeholder="Enter your location" value="San Francisco, CA">
                            </div> {% endcomment %}
                        </div>
                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="">Contact Number</label>
                            <input class="form-control" placeholder="08100000000" type="text"  value= ""  name="contact_number" id="contact_number">
                        </div>
 
                        <!-- Save changes button-->
                        <input class="btn btn-success" name="Add" value="Save Changes" type="submit">
 
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!----
<form class=" m-10" method="post" enctype="multipart/form-data" >
    {% csrf_token %}

    <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
    <div class="">
        <label for="">First Name</label>
        <input class="" placeholder="first name" type="text"  value= "first_name"  name="first_name" id="first_name">
    </div>
    <div class="">
        <label for="">Last Name</label>
        <input class="" placeholder="last name" type="text"  value= "last_name"  name="last_name" id="last_name">
    </div>
    <div class="">
        <label for="">Upload Profile Image</label>
        <input class="py-2" placeholder="upload a clear profile image" type="file" accept="image/*"  name="upload" id="upload">
    </div>
    <div class="">
        <label for="gender">Please select your gender</label>
        <select name="gender" id="gender" placeholder="Select Gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="others">Others</option>
            <option value="choose not to say">Choose not to say</option>
            <--<option value="select gender" selected>Select Gender</option>--

        </select>
        <--<input class=""  type="text"  value= "first_name"  name="first_name" id="first_name">--
    </div>
    <div class="">
        <label for="">Contact Number</label>
        <input class=" " placeholder="08100000000" type="text"  value= ""  name="contact_number" id="contact_number">
    </div>
    <input class="btn btn-success" name="Add" value="Add" type="submit">
</div>
</div>
</div>
</form>-->


{% endblock content %}

