{% extends 'base.html' %}
{% block title %} Auth Wiki {% endblock %}


{% block content %}


  <!-- <div class="d-flex w-100 h-100 align-items-center justify-content-center" > -->

      <div class="col-12 col-lg-6">
        <img class="main-img" src="https://wallpapercave.com/dwp1x/wp26286.jpg" alt="" >
      </div>

      <div class="col-12 col-lg-6  main-form" style="padding: 100px 50px 100px 20px;">
        <div class="shadow rounded p-5 bg-white">
          <div class="text-center">
            <h3 class="mb-4">Email instructions Sent</h3>
            <div class="py-5">
              <p>We have sent reset instructions to zuriteamparrot@gmail.com</p>
            </div>
            <p>Didn’t receive email? Click to resend</p>
          </div>
        </div>
      </div>
  <!-- </div> -->

{% endblock %}