{% extends 'base.html' %}
{% block title %} Auth Wiki - Sign Up {% endblock %}
{% load widget_tweaks %}

{% block content %}
  <div class="col-12 col-lg-6">
    <img class="main-img" src="https://wallpapercave.com/dwp1x/wp26286.jpg" alt="">
  </div>

  <div class="col-12 col-lg-6 main-form">
    <form class="rounded p-0 w-80 d-flex justify-content-center" method="POST">
      {%csrf_token%}
      <div class="w-100 px-3 px-sm-4 py-5">
        <h2 class="text-center mb-4">Welcome Back</h2>
        <div class="mb-3">
          {{ login_form.username.label }}
          {{ login_form.username|add_class:'form-control mt-2'|attr:'type:text' }} 
        </div>
        <div class="mb-3">
          {{ login_form.password.label }}
          {{ login_form.password|add_class:'form-control mt-2'|attr:'type:password' }} 
        </div>
        <div class="mb-3 form-check d-flex justify-content-between">
          <p class="ms-auto"><a href="{% url 'account:password_reset' %}">Forgot Password?</a></p>
        </div>
        <div class="d-grid gap-3">
          <button class="btn btn-primary d-block" type="submit">Log In</button>
          <p class="text-center">Don't have an account? <a href="{% url 'account:register' %}">Create an account</a></p>
        </div>
        <!-- <div class="d-flex justify-content-between align-items-center mb-3">
          <span class="line"></span>
          <span>or</span>
          <span class="line"></span>
        </div> -->
        <div class="d-grid gap-3">
          <button class="btn btn-warning" type="button">Log In with GitHub</button>
          <button class="btn btn-warning" type="button">Log In with Google</button>
        </div>
      </div>
    </form>
  </div>

{% endblock %}