{% extends 'base.html' %}
{% block title %} Auth Wiki - Sign Up {% endblock %}
{% load widget_tweaks %}

{% block content %}
  <div class="col-12 col-lg-6">
    <img class="main-img" src="https://wallpapercave.com/dwp1x/wp26286.jpg" alt="">
  </div>

  <div class="col-12 col-lg-6 main-form">
    <form class="rounded p-0 w-80 d-flex justify-content-center"">
      <div class="w-100 px-3 px-sm-4 py-5">
        <h2 class="text-center mb-4">Set New Password</h2>
        <p class="text-center">
          Your new password must be different from the previously used passwords.
        </p>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" name="password" />
        </div>
        <div class="d-grid gap-3 mb-3">
          <button class="btn btn-primary d-block" type="submit">Reset Password</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
